<button class="agregar" routerLink="/list-I">volver</button>
<div class="container">
  <h1>{{titulo}}</h1>
  <form [formGroup]="createInstancia" (ngSubmit)="agregarEditarIntancias()">
    <input type="text" placeholder="ID" formControlName="id_instancia" required>
    <input type="text" placeholder="Nombre" formControlName="nombre" required>
    <input type="text" placeholder="documento ID" formControlName="doc_id" required>
    <input type="text" placeholder="Pais" formControlName="pais" required>
    <button class="submit">Agregar</button>
  </form>
</div>
