<div>
  <div>
    <h1>Recuperar Contraseña</h1>
    <form [formGroup]="recuperarUsuario" (ngSubmit)="recuperar()">
      <div>
        <input type="email" formControlName="correo" placeholder="name@example.com">
        <label>Email</label>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('required') && recuperarUsuario.get('correo')?.touched">
          El <strong>correo</strong> es requerido
        </span>
        <span *ngIf="recuperarUsuario.get('correo')?.hasError('email') && recuperarUsuario.get('correo')?.touched">
          El <strong>correo</strong> es invalido
        </span>
      </div>
      <div>
        <button type="submit" [disabled]="recuperarUsuario.invalid">Recuperar</button>
      </div>
      <a routerLink="/login">Volver</a>
    </form>
  </div>

</div>
